html {
  font-family: Roboto, sans-serif;
  margin: 2em;
}
body {
  min-height: 100vh;
  margin: 50px; 
  border: 3px solid rgb(23, 59, 23);
}
header {
  padding: 20px 20px 20px 20px;
}
section {
  padding: 30px 30px 30px 30px;
}
footer {
  padding: 50px 50px 50px 50px;
}
h1 {
margin-left: 200px;
margin-right: 150px;
}
.person {
display: flex;
text-align: center;
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
 }
footer {
  border: 1px solid rgb(12, 75, 68);  
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
* {
  color: black;
}
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 0.25em;
}
h2 {
  color: black;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  background-color: green;
}
h3 {
  color: black;
  background-color: #5d7260;

}
.photo {
  align-items:flex-end;
  width: 100px;
  height: 100px;
}

a {
  color:rgb(137, 209, 79);
}
.contacts {
  margin-bottom: 2em;
}
.skills {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: #5d7260;
}
.experience__name {
  margin-left: 100px;
}
.experience {
  display: flex;
  margin-bottom: 2em;
}
.experience__company {
  margin-left: 100px;
}
.experience__date {
  width: 120px;
}
li{
  font-style: italic;
}
.education__description {
  margin-left: 100px;
}
.education {
  display: flex;
  margin-bottom: 2em;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoThin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoRegular.ttf");
  font-weight: 300;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  transition: .3s;
}
.project {
  border: 3px solid rgb(23, 59, 23);
}

